<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel="stylesheet" href="/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foodify</title>
</head>
<body>
    <header>
        <nav class="links">
            <a href="/" class="logo"><img src="/img/logo.png" alt="Logo Foodify" ></a>
            <a href="/about">Sobre</a>
            <a href="/recipes">Receitas</a>
        </nav>
    </header>
    <main>
        <section class="hero-section">
            <div class="hero-copy">
                <h1>As Melhores Receitas</h1>
                <p>Aprenda a construir os melhores pratos<br>
                    com receitas criadas por profissionais<br>
                    do mundo inteiro.</p>
            </div>
            <img src="img/chef.png" alt="Chef">
        </section>
        <section class="featured-recipes">
            <h2>Mais acessadas</h2>
            <div class="cards">
                <div class="card">
                    <div class="card_img_container">
                        <img src="/img/burger.png" alt="Triplo burger bacon">
                    </div>
                    <div class="card_content">
                        <h3>Triplo bacon burger</h3>
                        <p>por Jorge Relato</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card_img_container">
                        <img src="/img/pizza.png" alt="Pizza 4 estações">
                    </div>
                    <div class="card_content">
                        <h3>Pizza 4 estações</h3>
                        <p>por Fabiana Melo</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card_img_container">
                        <img src="/img/espaguete.png" alt="Espaguete ao alho">
                    </div>
                    <div class="card_content">
                        <h3>Espaguete ao alho</h3>
                        <p>por Júlia Kinoto</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card_img_container">
                        <img src="/img/lasanha.png" alt="Lasanha mac n’ cheese">
                    </div>
                    <div class="card_content">
                        <h3>Lasanha mac n’ cheese</h3>
                        <p>por Juliano Vieira</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card_img_container">
                        <img src="/img/doce.png" alt="Docinhos pão-do-céu">
                    </div>
                    <div class="card_content">
                        <h3>Docinhos pão-do-céu</h3>
                        <p>por Ricardo Golvea</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card_img_container">
                        <img src="/img/asinhas.png" alt="Asinhas de frango ao barbecue">
                    </div>
                    <div class="card_content">
                        <h3>Asinhas de frango ao barbecue</h3>
                        <p>por Vania Steroski</p>
                    </div>
                </div>
            </div>
        </section>
        <div class="modal-overlay">
            <div class="modal">            
                <div class="modal-content">
                    <img src="" alt="">
                    <h2 class="recipe-title"></h2>
                    <p class="recipe-author"></p>
                </div>
                <a class="close-modal">Fechar o Modal</a>
            </div>
        </div>

        

    </main>
    <footer>
        <p>Todos direitos reservados, receitas Foodfy.</p>
    </footer>
    <script src="/scripts.js"></script>
</body>
</html>